{% extends 'base_location.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block location %}
    <div class="container-contact100">
		<div class="wrap-contact100">
			<form method="post" id="containerModelForm" action="" data-locations-url="{% url 'location:ajax_load_locations' %}">
                {% csrf_token %}
				<span class="contact100-form-title">
					Create package
				</span>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Object name</span>
                    {{ form.name }}
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 input100-select">
					<span class="label-input100">Country</span>
					<div>
                                {{ form.country }}
					</div>
					<span class="focus-input100"></span>
				</div>
                <div class="wrap-input100 input100-select">
					<span class="label-input100">Geographic region</span>
					<div>
                            {{ form.geographic_region }}
					</div>
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 input100-select">
					<span class="label-input100">Administrative region</span>
					<div>
                            {{ form.administrative_region }}
					</div>
					<span class="focus-input100"></span>
				</div>

                <div class="wrap-input100 input100-select">
					<span class="label-input100">Mark of quality</span>
					<div>
                            {{ form.mark_of_quality }}
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn" type="submit">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/geographic_region_options.js' %}"></script>
    <script src="{% static 'js/administrative_region_options.js' %}"></script>
    <script src="{% static 'js/mark_of_quality_options.js' %}"></script>


{% endblock %}

