{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
    <title>Title</title>
</head>
<body marginheight="0" marginwidth="0">
    <div class="bgimg">
  <div class="middle">
    <h1>Welcome, {{ request.user }}</h1>
    <hr>
        <p>You can: <a href="{% url 'location:country-create' %}"> create country</a></p>
      <div class="location">
        <a href="{% url 'location:geographic-region-create' %}">create geographic region</a>
        <p><a href="{% url 'location:administrative-region-create' %}">create administrative region</a></p>
        <p><a href="{% url 'location:mark-quality-create' %}">create mark of quality</a></p>
        <p><a href="{% url 'location:package_create' %}">create package</a></p>
      </div>
  </div>
</div>
</body>
</html>